{% extends 'base.html' %}


{% block title %} Plant Info Page {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
         <div class="col">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light border">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <--Info-->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light border">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <--Info-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light border">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <--Info-->
                </div>
            </div>
        </div>
         <div class="col">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light border">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <--Info-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light border">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <--Info-->
                </div>
            </div>
        </div>
         <div class="col">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light border">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <--Info-->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}