{% extends 'base.html' %}


{% block body %}

<div class="row">
    <div class="col-2 mt-5 ms-5 ">
        <div class="card border-success p-2 float-left">
            <form action="{{url_for('calendar')}}" method="post">
                <div class="filter">
                    <h5>Filters</h5><span class="fa fa-filter pl-1"></span>
                </div>
            <div id="mobile-filter">
                <div>
                    <h6 class="p-1 border-bottom">Season</h6>
                        <ul>
                            <input type="radio" name="seasonValue" id="Spring" value="Spring">Spring</input><br>
                            <input type="radio" name="seasonValue" id="Summer" value="Summer">Summer</input><br>
                            <input type="radio" name="seasonValue" id="Autumn" value="Fall">Autumn</input><br>
                            <input type="radio" name="seasonValue" id="Winter" value="Winter">Winter</input>
                        </ul>
                </div>
                <div>
                    <h6 class="p-1 border-bottom">Plant Type</h6>
                    <ul>
                        <input type="radio" name="typeValue" id="Psuedocereal" value="Psuedocereal">Psuedocereal</input><br>
                        <input type="radio" name="typeValue" id="Herb" value="Herb">Herb</input><br>
                        <input type="radio" name="typeValue" id="Vegetable" value="Vegetable">Vegetable</input><br>
                        <input type="radio" name="typeValue" id="Bean" value="Bean">Bean</input><br>
                        <input type="radio" name="typeValue" id="Root" value="Root">Root</input><br>
                        <input type="radio" name="typeValue" id="Fruit" value="Fruit">Fruit</input><br>
                        <input type="radio" name="typeValue" id="All" value="*">All Types</input>

                    </ul>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            </form>
        </div>
    </div>
    <div class="col mt-5 me-5">
        <div class="card border-success">
            <div>
                <canvas id="chart"></canvas>
                    <script>

                        // get bar chart canvas
                      let mychart = document.getElementById("chart").getContext("2d");

                      const config = {

                      };

                      // bar chart data
                      var barData = {
                          labels: [{% for labels in labels %}
                                    {{ labels | safe }}
                                    {% endfor %}],

                        datasets: [{
                                data : [{% for values in values %}
                                        {{ values | safe }},
                                        {% endfor %}],
                        }]
                      };

                      // draw bar chart
                        let chart = new Chart(mychart, {
                            type: 'bar',
                            data: barData,
                            options: {
                            indexAxis: 'y',
                            // Elements options apply to all of the options unless overridden in a dataset
                            // In this case, we are setting the border of each horizontal bar to be 2px wide
                            elements: {
                              bar: {
                                borderWidth: 2,
                              }
                            },
                            responsive: true,
                            plugins: {
                              legend: {
                                position: 'right',
                              },
                              title: {
                                display: true,
                                text: "Preferred growing Season",
                              }
                            }
                          },
                        });
                    </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}