{% extends 'base.html' %}


{% block body %}


    <div class="row">
        <div class="col-2 mt-5 ms-5 ">
            <div class="card border-success">
                <div>
                    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="false" aria-controls="mobile-filter"><h5>Filters</h5><span class="fa fa-filter pl-1"></span></button>
                    </div>
                        <div id="mobile-filter">
                                <div class ="form-check" form name ="formSeason" method="post" action="" onsubmit="">
                                    <h6 class="p-1 border-bottom">Season</h6>
                                    <ul>
                                        <input type="radio" name="type" id="earlySpring">
                                            <label for="earlySpring" class="pl-1 pt-sm-0 pt-1">Early Spring</label><br>
                                        <input type="radio" name="type" id="Spring">
                                            <label for="Spring" class="pl-1 pt-sm-0 pt-1">Spring</label><br>
                                        <input type="radio" name="type" id="lateSpring">
                                            <label for="lateSpring" class="pl-1 pt-sm-0 pt-1">Late Spring</label><br>
                                        <input type="radio" name="type" id="earlySummer">
                                            <label for="earlySummer" class="pl-1 pt-sm-0 pt-1">Early Summer</label><br>
                                        <input type="radio" name="type" id="summer">
                                            <label for="summer" class="pl-1 pt-sm-0 pt-1">Summer</label><br>
                                        <input type="radio" name="type" id="lateSummer">
                                            <label for="lateSummer" class="pl-1 pt-sm-0 pt-1">Late Summer</label><br>
                                        <input type="radio" name="type" id="earlyFall">
                                            <label for="earlyFall" class="pl-1 pt-sm-0 pt-1">Early Fall/Autumn</label><br>
                                        <input type="radio" name="type" id="fallAutumn">
                                            <label for="fallAutumn" class="pl-1 pt-sm-0 pt-1">Fall/Autumn</label><br>
                                        <input type="radio" name="type" id="lateFall">
                                            <label for="lateFall" class="pl-1 pt-sm-0 pt-1">Late Fall/Autumn</label><br>
                                        <input type="radio" name="type" id="earlyWinter">
                                            <label for="earlyWinter" class="pl-1 pt-sm-0 pt-1">Early Winter</label><br>
                                        <input type="radio" name="type" id="winter">
                                            <label for="winter" class="pl-1 pt-sm-0 pt-1">Winter</label><br>
                                        <input type="radio" name="type" id="lateWinter">
                                            <label for="lateWinter" class="pl-1 pt-sm-0 pt-1">Late Winter</label>
                                    </ul>
                                </div>
                                    <div class ="form-check" form name ="formLocation" method="post" action="" onsubmit="">
                                        <h6 class="p-1 border-bottom">Location</h6>
                                        <ul>
                                            <input type="radio" name="type" id="northernHemisphere">
                                                <label for="northernHemisphere" class="pl-1 pt-sm-0 pt-0">Northern Hemisphere</label><br>
                                            <input type="radio" name="type" id="southernHemisphere">
                                                <label for="southernHemisphere" class="pl-1 pt-sm-0 pt-0">Southern Hemisphere</label>
                                        </ul>
                                    </div>
                                <div class ="form-check" form name ="formPlantType" method="post" action="" onsubmit="">
                                    <h6 class="p-1 border-bottom">Plant Type</h6>
                                        <ul>
                                        <input type="radio" name="type" id="Vegetable">
                                            <label for="Vegetable" class="pl-1 pt-sm-0 pt-0">Vegetable</label><br>
                                        <input type="radio" name="type" id="Fruit">
                                            <label for="Fruit" class="pl-1 pt-sm-0 pt-0">Fruit</label><br>
                                        <input type="radio" name="type" id="Herb">
                                            <label for="Herb" class="pl-1 pt-sm-0 pt-0">Herb</label><br>
                                        <input type="radio" name="type" id="pseudocereal">
                                            <label for="pseudocereal" class="pl-1 pt-sm-0 pt-0">Pseudo-cereal</label><br>
                                        <input type="radio" name="type" id="Grain">
                                            <label for="Grain" class="pl-1 pt-sm-0 pt-0">Grain</label><br>
                                        <input type="radio" name="type" id="Cereal">
                                            <label for="Cereal" class="pl-1 pt-sm-0 pt-0">Cereal</label><br>
                                        <input type="radio" name="type" id="Bean">
                                            <label for="Bean" class="pl-1 pt-sm-0 pt-0">Bean</label><br>
                                        <input type="radio" name="type" id="Root">
                                            <label for="Root" class="pl-1 pt-sm-0 pt-0">Root</label>
                                        </ul>
                                </div>
                        </div>
            </div>
        </div>
        <div class="col mt-5 me-5">
            <div class="card border-success">
                <h1>plant</h1>
            </div>
        </div>
    </div>

<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="C:\\Users\\sara_\\PycharmProjects\\pythonPlantIndexDatabase\\app\\calendarfile.html" height="525" width="100%"></iframe>

{% endblock %}