{% extends 'base.html' %}


{% block body %}

{% for plantname in plantnames %}



  <div class="container">
      <div class="row">
            <div class="col">
                  <div class="card mt-5 border-success">
                      <div class="row g-0">
                          <div class="col-md-4">
                                <img src="{{plantname.image_link}}" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                              <div class="card-body">
                                  <h6 class="card-title">Generic Name:</h6>
                                  <p class="card-text"><ul>{{plantname.plant_name}}</ul>
                                  <h6 class="card-title">Variety Names:</h6>
                                  <p class="card-text"><ul>{{plantname.variety_names}}</ul>
                                  <h6 class="card-title">Alternate Names:</h6>
                                  <p class="card-text"><ul>{{plantname.alt_names}}</ul>
                                  <h6 class="card-title">Family Name:</h6>
                                  <p class="card-text"><ul>{{plantname.family_name}}</ul>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
      </div>

          <div class="row">
              <div class="col">
                  <div class="card mt-5 border-success">
                       <div class="card-header border-success">Plant Details</div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item "><strong>Plant Type:</strong> {{plantname.plant_type}}</li>
                              <li class="list-group-item"><strong>Preferred Planting Season:</strong> {{plantname.pref_season}}</li>
                              <li class="list-group-item"><strong>Life Cycle:</strong> {{plantname.life_cycle}}</li>
                              <li class="list-group-item"><strong>Hardiness Zones:</strong> {{plantname.hardiness_zone}}</li>
                              <li class="list-group-item"><strong>Sun Exposure:</strong> {{plantname.sun_exposure}}</li>
                              <li class="list-group-item"><strong>Water Needs:</strong> {{plantname.water_needs}}</li>
                              <li class="list-group-item"><strong>Maintenance Needs:</strong> {{plantname.maint_needs}}</li>
                              <li class="list-group-item"><strong>Soil Type:</strong> {{plantname.soil_type}}</li>
                              <li class="list-group-item"><strong>Soil PH:</strong> {{plantname.soil_ph}}</li>
                              <li class="list-group-item"><strong>Soil Drain:</strong> {{plantname.soil_drain}}</li>
                              <li class="list-group-item"><strong>Start_type:</strong> {{plantname.start_type}}</li>
                              <li class="list-group-item"><strong>Spacing Needs:</strong> {{plantname.spacing_needs}}</li>
                              <li class="list-group-item"><strong>Grow Time to Maturity:</strong> {{plantname.grow_time_maturity}}</li>
                              <li class="list-group-item"><strong>Harvest Recommendations:</strong> {{plantname.harvest_recommendations}}</li>
                              <li class="list-group-item"><strong>Preferred Nutrients:</strong> {{plantname.pref_nutrients}}</li>
                            </ul>
                  </div>
              </div>
              <div class="col">
                  <div class="card mt-5 border-success">
                    <div class="card-header border-success">Plant Information</div>
                      <div class="card-body">
                        <p><strong>Companion Plants: </strong>{{plantname.companion_plants}}</p>
                        <p><strong>Avoid Growing With/After: </strong>{{plantname.avoid_with}}</p>
                        <p><strong>Crops to Rotate With: </strong>{{plantname.crop_rotate}}</p>
                        <p><strong>Growing Guide: </strong>{{plantname.instructions}}</p>
                        <p><strong>Uses: </strong>{{plantname.uses}}</p>
                        <p><strong>General Information: </strong>{{plantname.general_info}}</p>
                        <p><strong>Preservation Ideas: </strong>{{plantname.preservation_ideas}}</p>

                      </div>
                  </div>
              </div>
          </div>
  </div>

{% endfor %}

{% endblock %}