{% extends 'base.html' %}


{% block body %}


    <div class="row">
        <div class="col-2 mt-5 ms-5">
            <div class="card border-success p-4 float-left">
                <form action="{{url_for('search')}}" method="post">
                    <div class="filter">
                            <h5>Filters</h5><span class="fa fa-filter pl-1"></span>
                    </div>
                    <div id="mobile-filter">
                            <div>
                                <h6 class="p-1 border-bottom">Season</h6>
                                <ul>
                                    <input type="radio" name="seasonValue" id="Spring" value="Spring">Spring</input><br>
                                    <input type="radio" name="seasonValue" id="Summer" value="Summer">Summer</input><br>
                                    <input type="radio" name="seasonValue" id="Autumn" value="Fall">Autumn</input><br>
                                    <input type="radio" name="seasonValue" id="Winter" value="Winter">Winter</input>
                                </ul>
                            </div>
                            <div>
                                <h6 class="p-1 border-bottom">Filter By</h6>
                                <p class="mb-2">Plant Type</p>
                                <ul>
                                    <input type="radio" name="typeValue" id="Psuedocereal" value="Psuedocereal">Psuedocereal</input><br>
                                    <input type="radio" name="typeValue" id="Herb" value="Herb">Herb</input><br>
                                    <input type="radio" name="typeValue" id="Vegetable" value="Vegetable">Vegetable</input><br>
                                    <input type="radio" name="typeValue" id="Bean" value="Legume">Bean</input><br>
                                    <input type="radio" name="typeValue" id="Root" value="Root">Root</input><br>
                                    <input type="radio" name="typeValue" id="Fruit" value="Fruit">Fruit</input>
                                </ul>
                            </div>
                            <div>
                                <h6>Life Cycle</h6>
                                <ul>
                                    <input type="radio" name="cycleValue" id="Annual" value="Annual">Annual</input><br>
                                    <input type="radio" name="cycleValue" id="Biennial" value="Biennial">Biennial</input><br>
                                    <input type="radio" name="cycleValue" id="Perennial" value="Perennial">Perennial</input><br>
                                </ul>
                            </div>
                            <div>
                                <h6>Hardiness Zone</h6>
                                <ul>
                                    <input type="radio" name="zoneValue" id="Zone 1" value="Zone 1">Zone 1</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 2" value="Zone 2">Zone 2</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 3" value="Zone 3">Zone 3</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 4" value="Zone 4">Zone 4</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 5" value="Zone 5">Zone 5</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 6" value="Zone 6">Zone 6</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 7" value="Zone 7">Zone 7</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 8" value="Zone 8">Zone 8</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 9" value="Zone 9">Zone 9</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 10" value="Zone 10">Zone 10</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 11" value="Zone 11">Zone 11</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 12" value="Zone 12">Zone 12</input><br>
                                    <input type="radio" name="zoneValue" id="Zone 13" value="Zone 13">Zone 13</input><br>
                                </ul>
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                </form>
            </div>
        </div>
<!--        beginning of code for the search results card-->
<!--        results box outer border -->
        <div class="col-9 mt-5 me-5 card border-success">
<!--            new row created in results box-->
            <div class="row">
            {% for plantnames in plantnames %}
<!--                new -->
                            <div class="card border-success mb-2 mx-2" style="width: 15rem">
                                <img class="card-img-left" src="{{plantnames.image_link}}" alt="Card Image Cap">
                                <div class="card-body">
                                    <b>Plant Name: </b><a href="/plantinfo/{{plantnames.plant_name}}">{{plantnames.plant_name}}<br></a>
                                    <b> Family Name: </b>{{plantnames.family_name}}<br>
                                     <b>Plant Type: </b>{{plantnames.plant_type }}<br>
                                    <b>Life Cycle: </b>{{plantnames.life_cycle }}<br>
                                    <b>Preferred Season: </b>{{plantnames.pref_season}}
                                </div>
                            </div>
                                {% else %}
                                <p> The Search has found no results.</p>
                                {% endfor %}
                        <!-- This currently shows when the page is also first loaded, this needs to be worked out, so it only shows if there
                        are actually no results found-->

                    </div>
                </div>
            </div>
        </div>




{% endblock %}